.jumbotron{
    padding-top: 6rem;
    background-color: rgb(142, 223, 196);
}

#project{
    background-color: rgb(142, 223, 196);
}

footer{
    background-color: rgb(53, 177, 135);
}

section{
    padding-top: 5rem;
}